
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    width: 80%;
    max-width: 800px;
}

button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
}


.facilities-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.facility-card {
    background-color: #f9f9f9;
}


.weather {
    padding: 10px;
    margin-top: 10px;
}
